<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
        <!-- Footer Location -->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <p class="lead mb-0">Sitio creado y administrado por<br> <a href="https://www.linkedin.com/in/oscar-enrique-g-443304181/">Oscar Gonz&aacute;lez</a>
                </p>
            </div>
            <!-- Footer Social Icons -->
            <div class="col-lg-6 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Contacto</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/" target="_blank">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://facebook.com/" target="_blank">
                    <i class="fab fa-fw fa-facebook"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://instagram.com/" target="_blank">
                    <i class="fab fa-fw fa-instagram"></i>
                </a>
                 <a class="btn btn-outline-light btn-social mx-1" href="mailto:oscargonzalez159@gmail.com" target="_blank">
                    <i class="fas fa-envelope"></i>
                </a>
            </div>
        </div>
    </div>
</footer>