{% extends 'base.html' %}
{% load static %}
{% block content %}
<script>
    {% block javascript %}

    {% endblock %}
</script>
<!--Principal section-->
<section class="page-section bg-secondary text-white mb-0" id="principal">
    <div class="img-full">
        <div class="row pt-5">
            <div class="col-lg-5 ml-auto pt-5 text-center" style="margin-top: 40px;">
                <img src="{% static 'app/img/principal1.jpeg' %}" class="img-fluid" style="max-height: 400px;" alt="Dow watching">
            </div>
            <div class="col-lg-7 ml-auto pt-5 text-center" style="margin-top: 40px;">
                <h4 class="page-section-heading text-center text-dark bg-clear mx-2"> Busca Mascota es una plataforma open-source, para que mascotas perdidas puedan reencontrarse con sus dueños. <br/> Puedes publicar tu mascota sin costo! Y tambi&eacute;n ser&aacute; publicado en las redes oficiales de Busca Mascota autom&aacute;ticamente.<br/> 
                </h4>
                <h3 class="page-section-heading text-center text-dark">
                    <a class="btn btn-warning btn-lg mt-2 amarillo" href="{% url 'map' %}" >
                        Buscar mi mascota
                    </a>
                    <a class="btn btn-outline-dark btn-lg mt-2 ml-1" href="{% url 'publicar' %}" >
                        Publicar mascota
                    </a>
                </h3>
            </div>
        </div>
    </div>
</section>
<!--Para Quien Section-->
<section class="page-section bg-secondary text-white mb-0" id="paraQuien">
    <div class="row amarillo">
        <div class="col-lg-6 text-center py-5" >
            <div class="container-fluid bg-clear">
                <h2 class="page-section-heading text-center text-dark mt-5" >Qui&eacute;n puede utilizar el sitio?</h2> 
                <h4 class="page-section-text text-dark mt-5 ml-3"> 
                    <ul>
                        <li>Personas que han perdido su mascota y desean publicar un reporte o buscar su mascota.</li>
                        <li>Personas que han encontrado o avistado una mascota que parec&iacute;a perdida y desean publicar un reporte.</li>
                    </ul>
                </h4>
                <h4 class="page-section-text text-center text-dark mt-5 ml-3"> 
                    Todo con el fin de que estas puedan reencontrarse con sus dueños. 
                </h4>
                <br/>
            </div>
        </div>
        <div class="col-lg-6 text-center py-5 amarillo">
            <img src="{% static 'app/img/paw-five.jpg' %}" class="img-fluid" alt="Man and dog">
        </div>
    </div>
</section>
<!--Donate Section-->
<section  class="page-section bg-secondary text-white mb-0">
    <div class="img-donate">
        <div class="row pt-5">
            <div class="col-lg-6 ml-auto pt-5" style="margin-top: 40px;">        
                <h4 class="page-section-heading text-center text-light">Puedes colaborar <br/> para que este sitio siga activo <br/> y funcionando siempre <br/> 
                    <a class="btn btn-info btn-lg mt-2" href="{% url 'colaborar' %}" >
                        Colaborar
                    </a>
                </h4>
            </div>
            <div class="col-lg-4 ml-auto py-5 text-center" style="margin-top: 40px;">        
            </div>
        </div>
    </div>
</section>
{% endblock %}