{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light static-top" id="mainNav">
    <div class="container">
        <div class="collapse navbar-collapse justify-content-center" id="navbarResponsive">
        <ul class="navbar-nav">
            {% comment %} <a class="navbar-brand" href="#">
                <img src="{% static "app/img/icon.jpg" %}" width="30" height="30" alt="">
            </a> {% endcomment %}
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#paraQuien">Sobre el sitio</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="/#elPorque">Porqué Del Sitio</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="#">Publicar Mascota</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'map' %}">Buscar Mascota</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'colaborar' %}">Colaborar</a>
            </li>
        </ul>
        </div>
    </div>
</nav>