@keyframes an-pupils {
    from {
        left: 25px;
    }
    to {
        left: 15px;
    }
}

@keyframes an-pupils_ref {
    from {
        left: 23px;
    }
    to {
        left: 12px;
    }
}


@keyframes an-ears {
    from {
       top:0;
    }
    to {
       top:25px;
    }
}

#cat {
	width: 480px;
	margin:20px auto;
  
}


#head {
	width: 400px;
	height: 370px;
	background-color: #171717;
	border-radius: 50%;
	margin: auto;
}

#ears {
 height: 65px;
 position: relative;
 left: 35px;
 animation-name: an-ears;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

.ear{
	width: 0; 
	height: 0; 
	border-left: 90px solid transparent;  
	border-right: 90px solid transparent; 
	border-bottom: 160px solid #171717; 
	font-size: 0;
	line-height: 0;
	float: left;
	margin-right: 60px;
	-ms-transform: rotate(35deg); 
    -webkit-transform: rotate(35deg); 
    transform: rotate(35deg);
      
}


.ear:first-child {
	-ms-transform: rotate(-35deg); 
    -webkit-transform: rotate(-35deg); 
    transform: rotate(-35deg);
}

.ear_ref{
	width: 0; 
	height: 0;
 	position: relative;
 	left: -40px;
	border-left: 45px solid transparent;  
	border-right: 45px solid transparent; 
	border-bottom: 50px solid #f99c1d; 
	float: left;
	margin-right: 30px;
	margin-top: 50px;
	/*-ms-transform: rotate(1deg); 
    -webkit-transform: rotate(1deg); 
    transform: rotate(1deg);*/
}
.ear_ref:first-child {
	-ms-transform: rotate(5deg); 
    -webkit-transform: rotate(5deg); 
    transform: rotate(5deg);
}

#eyes {
	clear: both;
	width: 350px;
	position: relative;
	top: 25px;
	left: 53px;
}

.eye {
	width: 120px;
	height: 120px;
	background-color: #FFFFFF;
	border-radius: 50%;
	float: left;
	
}

.eye:first-child {
	margin-right: 50px;
}

.pupil {
	position: relative;
	top:40px;
	background-color: #f7e613;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	animation-name: an-pupils;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;

}

.pupil_ref {
	background-color: #FFFFFF;
	border-radius: 45%;
	width: 30px;
	height: 30px;
	position: relative;
	top: 40px;
	left: 10px;
	animation-name: an-pupils_ref;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
}

#nose {
	width: 45px;
	height: 30px;
	border-radius: 50%;
	background-color: #FFFFFF;
	position: relative;
	top: 160px;
	left: 170px;
}

#baffi_sx {
position: relative;
left: -100px;
top: 96px;

-ms-transform: rotate(10deg); 
    -webkit-transform: rotate(10deg); 
    transform: rotate(10deg);
    
}

#baffi_dx {
position: relative;
left: 223px;
top: 96px;
-ms-transform: rotate(-10deg); 
    -webkit-transform: rotate(-10deg); 
    transform: rotate(-10deg);
}

.baffo{
  width:260px; 
  height:5px;  
  border:solid 3px #000;
  border-color:#000 transparent transparent transparent;
  border-radius: 60%/30px 30px 0 0;

}



