
/* el celeste es este  #65CAD5*/
/* el amarillo es este #FFD933*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: 0.5rem;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
  line-height: 1.2;
}

#mainNav{
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Noto Sans JP", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color:#60bfc9    ;
  color: #fff;
}

.copyright {
  background-color: #fff  ;
}

#imagenDonacion {
  background: url('../img/baner.jpg');
  background-size: cover;
  background-color: #cccccc;
  height : 100%;  
}
/*image resize*/
#reportImage{
  width: 70%;
  object-fit: cover;
  height: 500px; /* only if you want fixed height */
}

.big-checkbox {width: 60px; height: 60px;}

/*For the Leaflet Map*/
.map {
  position: relative;
  display:inline-block;
}
#map{
  width: 100%;
  height: 650px;
}
#map-report {
  height: 400px;  /* The height is 400 pixels */
}