<div class="container-fluid">
    <div class="col-lg-7 mx-auto">
        <ul class="list-group">
            {% for report in page_obj %}
                <li class="list-group-item">
                    <div class="media">
                            <a href="{% url 'report' report_id=report.id %}"><img class="align-self-center mr-3 mt-1" width="100px" height="100px" src="{{report.picture}}" alt="report picture {{report.id}}"></a>
                            <div class="media-body">
                                <h5 class="mt-0 text-uppercase text-dark mr-2"> <a href="{% url 'report' report_id=report.id %}">{% if report.specie == 'otro' %} ANIMAL {% else %} {{report.specie|upper}} {% endif %}  {{report.report_type|upper}}</a>
                                </h5>
                                <h6 class="mr-2">&Uacute;lt. vez visto el {{report.last_time_seen|date:"d/m/Y"}}</h6>
                                <p class="mr-2">{{report.description}}.</p> {% if  report.phone %} <p class="mr-2"> Contacto:  {{report.phone}}</p> {% endif %}
                                <p> {% if  report.city %} {{report.city}}, {% endif %} {{report.country}}</p>
                                <a class="btn btn-sm btn-warning mt-3 amarillo" href="{% url 'report' report_id=report.id %}"> Ver reporte completo</a>
                            </div>
                            <i class="far fa-flag text-danger" data-toggle="tooltip" data-placement="top" title="Reportar reporte"></i>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1"><i class="fas fa-step-backward"></i></a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a></li>
            {% endif %}

            <li class="page-item active"><a class="page-link" href="#">{{ page_obj.number }}</a></li>
            
            {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a></li>
                <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-step-forward"></i></a></li>
            {% endif %}
        </ul>
        </nav>
    </div>
</div>
