{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h1> T&Eacute;RMINOS DE USO</h1>
    </div>
    <br>
    <div class="row">
        <h2 class="text-muted">Disclaimer</h2>
        <p>Al acceder y utilizar la página web y a la base de datos de Busca Mascota, el usuario reconoce el efecto legalmente vinculante de las siguientes condiciones de uso y de la cláusula de descargo de responsabilidad.
            En caso de que el usuario no esté de acuerdo con estos t&eacute;rminos de uso, no podrá acceder a la página web de Busca Mascota. </p>
        <p> Afirmo que TODA la información proporcionada es verídica y que será publicada en las redes sociales de la página (Twitter, Facebook, e Instagram), de manera a poder llegar a la mayor cantidad de personas.</p>
    </div>
</div>
{% endblock %}